body {
  background-color: #7ca2c8;
}
strong {
  font-size: 50px;
}
h4 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.citydetails {
  margin-bottom: 20px;
  padding: 5px;
  text-align: center;
}
.insidepage {
  border: 0.5px solid rgb(104, 208, 208);
}
.weekinfo {
  margin: 30px;
}
.forecast {
  text-align: start;
  margin-bottom: -20px;
  margin-left: 30px;
}
.cityinfo {
  font-size: 30px;
}
.pageborder {
  border: 2px solid rgb(104, 208, 208);
  background: linear-gradient(-225deg, #2cd8d5 0%, #c5c1ff 56%, #ffbac3 100%);

  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 15px;
}
.cloud-main {
  font-size: 60px;
  color: rgb(51, 51, 97);
  text-align: center;
  margin-left: 50px;
}
.cloud {
  font-size: 50px;
  color: rgb(51, 51, 97);
}
.weekcloud {
  font-size: 25px;
}
.temperature {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.weektemp {
  font-size: 20px;
  font-weight: bold;
}
.weekday {
  border: 0.5px solid rgb(104, 208, 208);
  padding: 20px;
}
.otherinfo {
  font-size: 20px;
  text-align: end;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.cityName {
  text-align: start;
  font-weight: bold;
  font-size: 40px;
  text-transform: capitalize;
}
.other {
  text-align: start;
}
.unit {
  font-size: 30px;
}
.unit:hover {
  color: red;
  text-decoration: underline;
}
small {
  font-size: smaller;
}
